<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bug Tracker</title>
	<script type="text/stories">
		(done) 1. Add a new bug
		(done) 2. List the bugs
		(done) 3. Toggle the 'closed' status of a bug
		(done) 4. Remove closed bugs
		(done) 5. Statistics ( # of closed bugs / total # of bugs)
		(done) 6. Search the bugs
		(done) 7. Sort the bugs
		8. Improvise bug display
		9. Persist the bugs in the localStorage
		10. Display 'createdAt'
		11. Persist the bugs in the server
	</script>
	<style>
		body{
			margin-left: 50px;
		}
		section{
			margin-bottom: 10px;
		}
		.stats, .bugname{
			font-size: 22pt;
		}
		.closed{
			color : red;
			text-decoration: line-through;
			font-style: italic;
			font-weight: bold;
		}
		ol{
			list-style: none;
			-webkit-padding-start : 0px;
			width: 500px;
		}
		li{
			padding: 10px;
			margin-bottom: 10px;
			border : 2px solid gray;
			background-color: #e7e7e7;
			border-radius: 5px;
		}
		.bugname{
			cursor : pointer;
		}
		.datetime{
			font-style: italic;
		}
	</style>
	<script src="angular.js"></script>
	<script>
		var bugTrackerApp = angular.module('bugTrackerApp', []);

		bugTrackerApp.value('defaultBugName', '[Default Bug Name]');

		bugTrackerApp.factory('bugOperations' , function(defaultBugName){
			return {
				createNew : function(bugName){
					return {
						name : bugName || defaultBugName,
						isClosed : false
					};
				},
				toggle : function(bug){
					bug.isClosed = !bug.isClosed;
				}
			}
		});

		bugTrackerApp.controller('bugsController', function($scope, bugOperations){
			$scope.bugs = [
				bugOperations.createNew('Server communication failure'),
				bugOperations.createNew('Data is incorrect'),
				bugOperations.createNew('User actions not recognized'),
				bugOperations.createNew('Application is not responding')
			];

			$scope.addNew = function(bugName){
				var newBug = bugOperations.createNew(bugName);
				$scope.bugs.push(newBug);
			};

			$scope.toggle = function(bug){
				bugOperations.toggle(bug);
			};

			$scope.removeClosed = function(){
				for(var index = $scope.bugs.length-1; index >=0; index--){
					if ($scope.bugs[index].isClosed)
						$scope.bugs.splice(index, 1);
				}
			};

			/*$scope.getClosedCount = function(){
				var result = 0;
				for(var index = 0; index < $scope.bugs.length; index++)
					if ($scope.bugs[index].isClosed)
						++result;
				return result;
			};*/
		});

		bugTrackerApp.value('defaultTrimLength', 30);

		bugTrackerApp.filter('trimText', function(defaultTrimLength){
			return function(data, trimLength){
				trimLength = trimLength || defaultTrimLength;
				return data.length < trimLength ? data : data.substr(0,trimLength) + '...';
			};
		});

		/*
		bugTrackerApp.filter('closedCount', function(){
			return function(bugs){
				var result = 0;
				for(var index = 0; index < bugs.length; index++)
					if (bugs[index].isClosed)
						++result;
				return result;
			}
		});
		*/

		/*
		bugTrackerApp.filter('closedCount', function(){
			return function(bugs){
				return bugs.filter(function(bug){
					return bug.isClosed;
				}).length;
			}
		})
		*/

		/*
		bugTrackerApp.filter('closedCount', function($filter){
			var builtInFilter = $filter('filter');
			return function(bugs){
				return builtInFilter(bugs, {isClosed : true}).length;
			}
		});
		*/

		bugTrackerApp.filter('closedCount', function(){
			return function(bugs){
				return bugs.reduce(function(result, bug){
					return bug.isClosed ? ++result : result;
				}, 0);
			}
		});
		
	</script>
</head>
<body ng-app="bugTrackerApp">
	<h1>Bug Tracker</h1>
	<hr>
	<div class="content" ng-controller="bugsController">
		<section class="stats">
			<span class="closed">{{ bugs | closedCount }}</span>
			<!-- <span class="closed">{{ (bugs | filter:{isClosed:true}).length }}</span> -->
			<span> / </span>
			<span>{{bugs.length}}</span>
		</section>
		<section class="search">
			<label for="">Search :</label>
			<input type="text" ng-model="searchBug.name">
			<label for="">Closed ? :</label>
			<input type="checkbox" ng-model="searchBug.isClosed" ng-init="searchBug.isClosed=''">
			<input type="button" value="Show All" ng-click="searchBug.isClosed=''" ng-hide="searchBug.isClosed ===''">
		</section>
		<section class="sort">
			<label for="">Order By :</label>
			<select ng-model="sortBugBy">
				<option value="name">Name</option>
				<option value="isClosed">Status</option>
			</select>
			<label for="">Descending ? :</label>
			<input type="checkbox" ng-model="sortBugDescending">
		</section>
		<section class="edit">
			<label for="">New Bug :</label>
			<input type="text" ng-model="newBugName">
			<input type="button" value="Add New" ng-click="addNew(newBugName)">
		</section>
		<section class="list">
			<ol>
				<li ng-repeat="bug in ( bugs | filter:searchBug | orderBy:sortBugBy:sortBugDescending) ">
					<span class="bugname" ng-click="toggle(bug)" ng-class="{closed : bug.isClosed}">
					{{bug.name | trimText:40}}
					</span>
					<div class="datetime">[CreatedAt]</div>
				</li>
				
			</ol>
			<input type="button" value="Remove Closed" ng-click="removeClosed()">
		</section>
	</div>
</body>
</html>